*{
    padding: 0;
    margin: 0;
    list-style-type: none;
    box-sizing: border-box;
}

ul{
    padding: 0;
    margin: 0;
}


.clearfix{
    content: "";
    clear: both;
    display: table;
}


#container{
    width: 90%;
    margin: 0 auto;
}

h2{
    font-size: 1em;
    font-weight: lighter;
}

#logo{
    width: 315px;
    height: 113px;
    margin: 0 auto;

}


#search{
    background-color: rgb(238, 238, 238);
    width: 100%;
    height: 70px;
    text-align: center;
    margin: 0.1em auto;

   
}

#search>input[type="search"]{
    width: 300px;
    margin: 0.2em;
}

#search>input[type="button"]{
    padding: 0.2em;

}

#cards{
    width: 100.6%;
}

.card{
    text-align: center;
    height: 75px;
    float: left;
    margin: 0.1em
}

.card2,.card3{
    font-size: 0.8em;
}

.card1{
    
    width: 35%;
    background-color: rgb(126, 229, 218);
    padding-top: 0.5em;
    
}

.card2{
    width: 20%;
    background-color: rgb(112, 204, 194);
    padding-top: 0.5em;
}

.card3{
    width: 44%;
    background-color: rgb(98, 179, 170);
    padding-top: 0.2em;
}

.subscribe input[type="button"]{
    padding: 0.1em 0.5em;
    margin-right: 0.6em;
}



footer{
    font-size: 0.8em;
    text-align: center;
    margin: 10px;
}





